@model IEnumerable<KY.Dominio.Entity.PendingOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Pedidos pendientes por confirmar</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Nro. Orden
                @*@Html.DisplayNameFor(model => model.OrderID)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @if (item.Estado == "NO CONFIRMADO")
                    {
                        <span style="color:red;">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </span>
                    }
                    else
                    {
                        <span style="color:blue;">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </span>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConfirmationDate)
                </td>
                <td>
                    @Html.ActionLink("Ver detalle", "VerDetalle", new { OrderID = item.OrderID })
                    @*|
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>
